{
  "include": [
    "src/**/*.ts",
    "build/src"
  ],
  "exclude": [
    "test"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "extension": [
    ".ts"
  ],
  "lines": "70",
  "all": true,
  "check-coverage": true
}