{
  "include": [
    "src/**/*.ts",
    "src/**/*.js"
  ],
  "exclude": [
    "test",
    "**/index.ts",
    "**/index.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "extension": [
    ".ts"
  ],
  "lines": "30",
  "all": true,
  "check-coverage": true
}